/WFM.DAL/obj/Debug/WFM.DAL.csprojAssemblyReference.cache
/WFM.DAL/obj/Debug/WFM.DAL.csproj.CoreCompileInputs.cache
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.Designer.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.Designer.cs.dll
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.cs.dll
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.Context.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.Context.cs.dll
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.UI/obj/Debug/WFM.UI.pdb
/WFM.UI/obj/Debug/WFM.UI.dll
/WFM.UI/obj/Debug/WFM.UI.csprojAssemblyReference.cache
/WFM.UI/obj/Debug/WFM.UI.csproj.FileListAbsolute.txt
/WFM.UI/obj/Debug/WFM.UI.csproj.CoreCompileInputs.cache
/WFM.UI/obj/Debug/WFM.UI.csproj.CopyComplete
/WFM.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.DAL/obj/
/WFM.DAL/bin/
/WFM.BAL/obj/
/WFM.BAL/bin/
/WFM.UI/obj/
/WFM.UI/bin/

/WFM.UI/obj/
/WFM.UI/bin/
/WFM.DAL/obj
/WFM.DAL/bin
/WFM.BAL/obj
/WFM.BAL/bin
/WFM.UI/Web.config
/.vs/ST-WFM/FileContentIndex
