/WFM.DAL/obj/Debug/WFM.DAL.csprojAssemblyReference.cache
/WFM.DAL/obj/Debug/WFM.DAL.csproj.CoreCompileInputs.cache
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.Designer.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.Designer.cs.dll
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.cs.dll
/WFM.DAL/obj/Debug/TempPE/ST-WFMModel.Context.cs.dll
/WFM.DAL/obj/Debug/TempPE/STWFMModel.Context.cs.dll
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.UI/obj/Debug/WFM.UI.pdb
/WFM.UI/obj/Debug/WFM.UI.dll
/WFM.UI/obj/Debug/WFM.UI.csprojAssemblyReference.cache
/WFM.UI/obj/Debug/WFM.UI.csproj.FileListAbsolute.txt
/WFM.UI/obj/Debug/WFM.UI.csproj.CoreCompileInputs.cache
/WFM.UI/obj/Debug/WFM.UI.csproj.CopyComplete
/WFM.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.DAL/obj/
/WFM.DAL/bin/
/WFM.BAL/obj/
/WFM.BAL/bin/
/WFM.UI/obj/
/WFM.UI/bin/

/WFM.UI/obj/
/WFM.UI/bin/
/WFM.DAL/obj
/WFM.DAL/bin
/WFM.BAL/obj
/WFM.BAL/bin
/WFM.UI/Web.config
/.vs/ST-WFM/FileContentIndex/0d6f01b5-e101-4bc8-b4f4-1077f7f0a862.vsidx
/.vs/ST-WFM/FileContentIndex/6a0c2300-a0d1-4adf-aa1c-442f204225cf.vsidx
/WFM.UI/UploadedFiles/8e37d748-eadc-4fea-94b2-ec05c51c194fScreenshot2023-09-25170737.png
/WFM.UI/UploadedFiles/42ceb066-618a-4c0d-8def-1b492e22e4c3Screenshot2023-09-25170737.png
/WFM.UI/hardcopy/7ddba692-2c14-461f-8434-db26341f1603Screenshot2023-09-25170549.png
/.vs/ST-WFM/FileContentIndex/6b73a94b-9240-4f3d-96a2-8c1be71e6efe.vsidx
