@model WFM.UI.Models.InvoiceView
@using WFM.BAL.Enums
@using WFM.BAL.Helpers


<div class="container-fluid     " id="printThis">

  <div class="row">
      <div class="col align-items-end">

          @switch (Model.OrderType)
          {
              case "ST":
                  <img src="~/Resources/ST-print-invoice.png" width="350" />
                  break;

              case "STA":
                  <img src="~/Resources/print-logo.png" width="300" />
                  break;
              case "STB":
                  <img src="~/Resources/STB-print-invoice.png" width="350" />
                  break;
              case "STW":
                  <img src="~/Resources/print-logo.png" width="300" />
                  break;
              case "STI":
                  <img src="~/Resources/print-logo.png" width="300" />
                  break;
              default: <img src="~/Resources/ST-print-invoice.png" width="350" />break;
          }


          </div>
      </div>
    <div class="row">
        <div class="col">
            @if (Model.OrderType == "STA")
            {


                <h1 class="m-0">Tax Invoice</h1>
            }
            else
            {
                <h1 class="m-0">Invoice</h1>
            }

        </div>
    </div>




</div>
