<div class="row m-b-10">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">@ViewBag.Title Management</h2>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 text-right">
        <input type="button" value="New @ViewBag.Title" onclick="location.href=@ViewBag.ButtonLink" class="btn btn-primary" />
    </div>
</div>


