@model WFM.DAL.Order

@{
    ViewBag.Title = "Order";
    ViewBag.ButtonLink = "'/Order/Details'";
}

<style>

    @@media screen {
        #printSection {
            display: none;
        }
    }

    @@media (min-width: 992px) {
        .modal-dialog {
            max-width: 60%;
        }
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 10px;
            top: 0;
        }
    }

    table.report-container {
        page-break-after: always;
    }

    thead.report-header {
        display: table-header-group;
    }

    tfoot.report-footer {
        display: table-footer-group;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }
</style>

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        @Html.Partial("_PageHeaderPartialWithButton")
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->

        <div class="border border-primary bg-actual-white  m-b-10">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-t-20">
                <div class="d-flex justify-content-around mb-4">
                    <div class="col-2">
                        <label for="typeFilter">Order Type:</label>
                        <select id="typeFilter" class="form-control">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="fromDate">From:</label>
                        <input type="date" id="fromDate" name="fromDate" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="toDate">To:</label>
                        <input type="date" id="toDate" name="toDate" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="statusFilter">Status:</label>
                        <select id="statusFilter" class="form-control">
                            <option value="">All</option>
                            <option value="Not Started">Not started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Ready To Invoice">Ready to invoice</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="clientFilter">Client:</label>
                        <input type="text" id="clientFilter" name="clientFilter" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="salesFilter">Sales person:</label>
                        <input type="text" id="salesFilter" name="salesFilter" class="form-control">
                    </div>
                </div>
                @*<div>
                        <div class="form-check form-check-inline pb-2">
                            <input class="btn btn-primary active" type="button" id="AllOrders" value="Reset Filters">
                        </div>
                    </div>*@
            <div class="table-responsive">
                <div class="w-100 p-2 flex flex-row justify-content-end">
                    <button class="btn btn-primary" id="pdfButton">Print Pdf</button>
                    <button class="btn btn-primary" id="exportButton">Export to Excel</button>
                </div>
                <table id="List" class="table table-striped table-bordered first">
                    <thead>
                        <tr>
                            <th>PO No</th>
                            <th>Client</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Created Date (MM/DD/YYYY)</th>
                            <th>Month</th>
                            <th>Channeled By</th>
                            <th>Order Total</th>



                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @* <h5 class="modal-title" id="exampleModalLabel">Medical Report</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Preview">
                @*Html.Partial("_PrintOrder")*@
            </div>
            <div class="modal-footer">

                <button id="btnPrint" type="button" class="btn btn-primary">Print</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        /*     fetchClientList()*/
        fetchOrderTypes()
        LoadOrders();
    });
    function printElement(elem) {
        var domClone = elem.cloneNode(true);

        var $printSection = document.getElementById("printSection");

        if (!$printSection) {
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            document.body.appendChild($printSection);
        }

        $printSection.innerHTML = "";
        $printSection.appendChild(domClone);


        window.print();
    }
    document.getElementById("pdfButton").onclick = function () {
        printElement(document.getElementById("List"));
    }
    function exportToExcel() {
        const props = ["Code", "ClientName", "Location", "StatusName", "CreatedDateString", "Month", "Channelledby","TotalWithVat"]
        const headers = ["PO No", "Client", "Location", "Status", "Created Date", "Month","Channelled By","Order Total"]


        var table = $('#List').DataTable();
        var data = table.rows({ search: 'applied' }).data().toArray();
        var filteredData = data.map((row) => {
            var filteredRow = {}
            props.forEach(prop => {
                filteredRow[prop] = row[prop]
            })
            return filteredRow
        })

        filteredData.unshift(headers);

        var dataArray = filteredData.map(function (row) {
            return Object.values(row);
        });

        var wb = XLSX.utils.book_new();
        console.log(filteredData)
        var ws = XLSX.utils.aoa_to_sheet(dataArray);

        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

        XLSX.writeFile(wb, 'order_data.xlsx');
    }
    document.getElementById('exportButton').addEventListener('click', exportToExcel);


    function fetchOrderTypes() {
        $.ajax({
            url: "/OrderType/GetList",
            type: "POST",
            dataType: "json",
            success: function (response) {
                response.data.forEach(function (item) {
                    $('#typeFilter').append($('<option>', {
                        value: item.Name,
                        text: item.Name
                    }));
                });
               
            },
            error: function (xhr, status, error) {
                console.error("Error fetching client list:", error);
            }
        });
    }

    $(document).ready(function () {

        LoadOrders();

        $('#fromDate').change(function () {
            LoadOrders();
        });


        $('#toDate').change(function () {
            LoadOrders();
        });


        $('#statusFilter').change(function () {
            LoadOrders();
        });

        $('#typeFilter').change(function () {
            LoadOrders();
        });


        $('#clientFilter').keyup(function () {
            LoadOrders();
        });


        $('#salesFilter').keyup(function () {
            LoadOrders();
        });
    });


    function LoadOrders() {

        // Retrieve filter values
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        let status = $('#statusFilter').val();
        let orderType = $('#typeFilter').val();
        let client = $('#clientFilter').val();
        let salesPerson = $('#salesFilter').val();


        if ($.fn.dataTable.isDataTable('#List')) {
            table = $('#List').DataTable();
            table.destroy();
        }

        table = $('#List').DataTable({
            "ordering": false,
            "createdRow": function (row, data, dataIndex) {
            },
            "ajax": {
                "url": "/Order/GetFilteredOrders",
                "type": "POST",
                "data": {
                    "fromDate": fromDate,
                    "toDate": toDate,
                    "status": status,
                    "client": client,
                    "salesPerson": salesPerson,
                    "orderType": orderType,

                },
                "datatype": "json"
            },
            "columns": [
                { "data": "Code", "width": "10%", "ordering": false, "sorting": false },
                { "data": "ClientName", "width": "20%", "ordering": false, "sorting": false },
                { "data": "Location", "width": "20%", "ordering": false, "sorting": false },
                { "data": "StatusName", "width": "10%", "ordering": false, "sorting": false },
                { "data": "CreatedDateString", "width": "15%", "ordering": false, "sorting": false },
                { "data": "Month", "width": "5%", "ordering": false, "sorting": false },
                { "data": "ChanneledBy", "width": "10%", "ordering": false, "sorting": false },
                {
                    "data": "TotalWithVat", "width": "15%", "ordering": false, "sorting": false,
                    "render": function (data, type, row) {
                        // Format TotalWithVat
                        return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                },

            ]
        });


    }

</script>


@section Scripts    {
    @Scripts.Render("~/bundles/jqueryval")
}
